a {
    display: none;
}

.item {
    display: inline-block;
}

#menu {
    display: flex;
    flex-direction: column;
}

#headingdiv {
    display: flex;
    align-items: center;
}

#dropbutton {
    height: 1rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}