a {
    display: none;
    width: 3rem;
    margin-bottom: 0.05rem;
    background-color: rgb(209, 205, 205);
    border: 2px solid black;
}

.item {
    display: inline-block;
}

#menu {
    display: flex;
    flex-direction: column;
}

#headingdiv {
    display: flex;
    align-items: center;
}

#dropbutton {
    height: 1rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
}

img {
    height: 2.4rem;
    width: auto;
}